:host {
  display: block;
  padding: 8px;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.id {
  font-size: 0.8em;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 2px 6px;
  border-radius: 20px;
}
